<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caventa.ansheer.ndk.caventa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.Splash_Screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Dashboard_Page"
            android:label="Dashboard Page"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.List_Sales_Persons"
            android:label="Sales Persons">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.Sales_Person_Dashboard_Page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Accounts"
            android:label="Accounts">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activities.Add_Work" />
        <activity android:name=".activities.View_Work" />
        <activity android:name=".activities.View_Work_Sales_Person" />
        <activity android:name=".activities.Edit_Work" />
        <activity android:name=".activities.View_Finished_Work_Sales_Person" />

        <activity
            android:name=".activities.Commision_Page"
            android:label="@string/title_activity_commision__page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.View_Finished_Work" />

        <activity
            android:name=".activities.Account_Ledger"
            android:label="Account Ledger"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.Sales_Reports"
            android:label="Sales Reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Add_Other_Expense"
            android:label="Add Other Expense" />
        <activity
            android:name=".activities.Other_Expense_Ledger"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Investment_Ledger"
            android:label="Investment Ledger">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.Loan_Ledger"
            android:label="Loan Ledger"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.Loan_Installments_Ledger"
            android:screenOrientation="landscape" />

    </application>

</manifest>